In [1]:
t = ()

In [2]:
type(t)

tuple

In [3]:
l = []
type(l)

list

In [4]:
t1 = (234,34,"sudh" , 3.45,True)

In [5]:
l1 = [234,34,"sudh" , 3.45,True]

In [6]:
t1[0:4]

(234, 34, 'sudh', 3.45)

In [7]:
t1[::-1]

(True, 3.45, 'sudh', 34, 234)

In [8]:
t1[-1]

True

In [9]:
l1[0] = "kumar"

In [10]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [11]:
t1

(234, 34, 'sudh', 3.45, True)

In [12]:
t1[0] = "dsdfdf"

TypeError: 'tuple' object does not support item assignment

In [13]:
t2 = (234,54,565)

In [14]:
t1+t2

(234, 34, 'sudh', 3.45, True, 234, 54, 565)

In [15]:
t1*4

(234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True,
 234,
 34,
 'sudh',
 3.45,
 True)

In [16]:
t1

(234, 34, 'sudh', 3.45, True)

In [17]:
34 in t1

True

In [18]:
"fdsfds" in t1

False

In [19]:
t1

(234, 34, 'sudh', 3.45, True)

In [20]:
max(t1)

TypeError: '>' not supported between instances of 'str' and 'int'

In [21]:
t3 = (23,343,45,454,54)

In [22]:
max(t3)

454

In [23]:
t4 = ("fsdf","Fsdf","fsd")

In [24]:
max(t4)

'fsdf'

In [25]:
t1 =(234, 34, 'sudh', 3.45,34,34,34, True)

In [26]:
t1.index(34)

1

In [27]:
t1.count(34)

4

In [28]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [29]:
l1.index(6)

ValueError: 6 is not in list

In [30]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [31]:
min(t1)

TypeError: '<' not supported between instances of 'str' and 'int'

In [32]:
t3

(23, 343, 45, 454, 54)

In [33]:
min(t3)

23

In [34]:
min(t4)

'Fsdf'

In [35]:
t

()

In [37]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [38]:
t5 =(90,45)

In [39]:
t1+t5

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 90, 45)

In [40]:
t6= 56

In [41]:
l5 = list(t1)

In [42]:
l5.insert(3,t6)

In [43]:
l5

[234, 34, 'sudh', 56, 3.45, 34, 34, 34, True]

In [44]:
tuple(l5)

(234, 34, 'sudh', 56, 3.45, 34, 34, 34, True)

In [45]:
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [46]:
t[6][1:4]

[5, 6, 7]

In [47]:
t[1][0]

'sdfsd'

In [48]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [49]:
for i in t :
    if type(i)==tuple :
        print(i[0])

3
sdfsd
454

In [50]:
t1

(234, 34, 'sudh', 3.45, 34, 34, 34, True)

In [51]:
t2

(234, 54, 565)

In [52]:
if len(t1) == len(t2):
    print("its same ")
else :
    print("not same ")

not same

In [53]:
t = (234, 34, 'sudh', 3.45, 34, 34, 34, True , "kumar")

In [54]:
i = input("take a user input")

if i in t :
    print("yet s your name is available ")
else :
    print("your name is not available ")

take a user inputhello
your name is not available

In [55]:
t

(234, 34, 'sudh', 3.45, 34, 34, 34, True, 'kumar')

In [56]:
l1

['kumar', 34, 'sudh', 3.45, True]

In [57]:
t1  = (34)

In [58]:
del(t)

In [59]:
t

NameError: name 't' is not defined

In [60]:
del(l1)

In [61]:
l1

NameError: name 'l1' is not defined

In [62]:
l = [324,343,343,34]

In [63]:
t2

(234, 54, 565)

In [64]:
x = set()

In [65]:
type(x)

set

In [73]:
l = [34,45,45,45,45,67,34,56,78,"sudh","sudh","Sudh","kumar" ,45,454545454,545,4545,545 , 3,45,6]

In [74]:
s = set(l)

In [75]:
s

{3, 34, 45, 4545, 454545454, 545, 56, 6, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [76]:
for i in s :
    print(i)

545
34
67
4545
3
Sudh
6
sudh
45
78
454545454
56
kumar

In [77]:
34 in s

True

In [78]:
s[0]

TypeError: 'set' object is not subscriptable

In [79]:
s = set()
s

set()

In [80]:
s.add(45)

In [81]:
s

{45}

In [82]:
s.add("sudh")

In [83]:
s.add("fsdfsfs")

In [85]:
s.add((2344455,454))

In [86]:
s

{(2344455, 454), 45, 'fsdfsfs', 'sudh'}

In [87]:
s.add(45)

In [88]:
s

{(2344455, 454), 45, 'fsdfsfs', 'sudh'}

In [89]:
s

{(2344455, 454), 45, 'fsdfsfs', 'sudh'}

In [90]:
s.remove(45)

In [91]:
s

{(2344455, 454), 'fsdfsfs', 'sudh'}

In [92]:
45 in s

False

In [93]:
s.clear()

In [94]:
s

set()

In [95]:
s

set()

In [96]:
s

set()

In [97]:
s.add("sdfsd")

In [98]:
s.add(234)

In [99]:
s.add(345)

In [100]:
s.add("wer")

In [101]:
s

{234, 345, 'sdfsd', 'wer'}

In [102]:
s1 = set(l)

In [103]:
l = [345,5464566,54645,6546,4654,654,6]

In [104]:
s1

{3, 34, 45, 4545, 454545454, 545, 56, 6, 67, 78, 'Sudh', 'kumar', 'sudh'}

In [105]:
s + s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [106]:
s * 4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [107]:
s

{234, 345, 'sdfsd', 'wer'}

In [108]:
l4 = list(s)

In [109]:
l4.append(345)

####

In [110]:
l4

[345, 234, 'wer', 'sdfsd', 345]

In [111]:
 t4 = tuple(s)

In [112]:
set(t4)

{234, 345, 'sdfsd', 'wer'}

In [113]:
s

{234, 345, 'sdfsd', 'wer'}

In [114]:
s[0] = "fsdfs"

TypeError: 'set' object does not support item assignment

In [115]:
x = {}

In [116]:
type(x)

dict

In [117]:
x1 = {34,56}

In [118]:
type(x1)

set

In [119]:
x = {"name " :"sudh"  , "age": 3455}

In [120]:
type(x)

dict

In [121]:
x1 = {"name " :"sudh"  , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [122]:
x1

{'name ': 'sudh',
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [123]:
x2 = {"name " :{"k1":"wer",'k4' :[345,534535,534,]} , "age": 3455 ,True : {45,34545,454,54}, "key" : False , 34554:(45,45,45,45) , "_sfsdf" : [34,45,454,54,545]}

In [124]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [125]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [126]:
l = [34,45,4,54]
l[2]

4

In [127]:
x2["key"]

False

In [128]:
x2[34554]

(45, 45, 45, 45)

In [129]:
x2["_sfsdf"][3]

54

In [130]:
x2["name "]['k4'][2]

534

In [131]:
x3 = {5:"wer",'k4' :[345,534535,534,]}

In [132]:
x4 = {"k4" :"Fsdfs"}

In [133]:
x3+x4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [134]:
x3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [135]:
x3

{5: 'wer', 'k4': [345, 534535, 534]}

In [136]:
x3['k4'] = 456

In [137]:
x3

{5: 'wer', 'k4': 456}

In [138]:
x3['k4'] -= 10

In [139]:
x3['k4'] = x3['k4'] -10

In [140]:
x3

{5: 'wer', 'k4': 436}

In [141]:
'k4' in x3.keys()

True

In [142]:
x3.keys()

dict_keys([5, 'k4'])

In [143]:
for i in x3.keys() :
    print(x3[i])

wer
436

In [144]:
x3

{5: 'wer', 'k4': 436}

In [145]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [146]:
x2.keys()

dict_keys(['name ', 'age', True, 'key', 34554, '_sfsdf'])

In [147]:
for i in x2.keys():
    print(type(x2[i]))

<class 'dict'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'list'>

In [148]:
x2.items()

dict_items([('name ', {'k1': 'wer', 'k4': [345, 534535, 534]}), ('age', 3455), (True, {34545, 454, 45, 54}), ('key', False), (34554, (45, 45, 45, 45)), ('_sfsdf', [34, 45, 454, 54, 545])])

In [149]:
for i in x2.items():
    print(i[1])

{'k1': 'wer', 'k4': [345, 534535, 534]}
3455
{34545, 454, 45, 54}
False
(45, 45, 45, 45)
[34, 45, 454, 54, 545]

In [150]:
x5 = {(34,56,56) : "Fsdfsfsd"}

In [151]:
x5[(34,56,56) ]

'Fsdfsfsd'

In [152]:
x2

{'name ': {'k1': 'wer', 'k4': [345, 534535, 534]},
 'age': 3455,
 True: {45, 54, 454, 34545},
 'key': False,
 34554: (45, 45, 45, 45),
 '_sfsdf': [34, 45, 454, 54, 545]}

In [153]:
len(x2)

6

In [154]:
e = {56: {45, 78, 89}}
e[56]

{45, 78, 89}

In [157]:
list(e[56])[0]

89

In [158]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

Enter the paragraph-->>
Tuple List-->>  ('akshat',)
List Keys-->>  ['']

In [159]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:hello i am pradeep verma from indore

In [160]:
s1

{'am', 'from', 'hello', 'i', 'indore', 'pradeep', 'verma'}

In [161]:
dic1

{'i': 'db',
 'from': 'db',
 'verma': 'db',
 'indore': 'db',
 'am': 'db',
 'hello': 'db',
 'pradeep': 'db'}

In [162]:
t1

('i', 'from', 'verma', 'indore', 'am', 'hello', 'pradeep')

In [163]:
l2

['db', 'db', 'db', 'db', 'db', 'db', 'db']

In [164]:
d = {"company":"ineuron" ,"course": "full stack data science" , "year" : 2021}

In [165]:
for i in d :
    print(" print a key  : " ,i  , " ; ", "value wise :  " , d[i])

 print a key  :  company  ;  value wise :   ineuron
 print a key  :  course  ;  value wise :   full stack data science
 print a key  :  year  ;  value wise :   2021

In [166]:
"course" in d

True

In [167]:
for i in d :
    if i == 'year':
        if d[i] > 2021:
            print("year is fine ")
        else :
            d[i] = 2022

In [168]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [169]:
my_dict = {}
for i in range(10):
    my_dict[i] = i *i

In [170]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [171]:
{i:i*i for i in range(0,10,3)}

{0: 0, 3: 9, 6: 36, 9: 81}